<div class="panel panel-default displayInfo" ng-controller="bookingDisplayController as vm" ng-show="vm.bookingInfo.bookno">
    <div class="panel-body panel-display">
        <div class="row">

            <div class="col-sm-6">
                <h4><span class="glyphicon glyphicon-user"></span> Booking</h4>
                <strong>{{vm.bookingInfo.bookno}}</strong><br/>
                {{vm.bookingInfo.lead_title}} {{vm.bookingInfo.lead_firstname}}
                    {{vm.bookingInfo.lead_surname}}<br/>
                {{vm.bookingInfo.telephone}}<br/>
                {{vm.bookingInfo.email}}
            </div>
            <div class="col-sm-6">
                {{vm.bookingInfo.address1}}<br/>
                {{vm.bookingInfo.address2}}<br/>
                {{vm.bookingInfo.address3}}<br/>
                {{vm.bookingInfo.postcode}}
            </div>
        </div>
    </div>
</div>
