<div class="panel panel-default displayInfo" ng-controller="completeDisplayController as vm" ng-show="vm.confirmedBookingReference">
    <div class="panel-body panel-display-success">
        <div class="row">
            <div class="col-sm-12">
                <h4> <span class="glyphicon glyphicon-ok-sign"></span> Confirmed Booking</h4>

                <table class="display-query">
                    <tr><td class="display-label">Confirmation Reference</td><td>{{vm.confirmedBookingReference}}</td></tr>
                </table>

            </div>
        </div>
    </div>
</div>
