<div class="panel panel-default displayInfo" ng-controller="reserveDisplayController as vm" ng-show="vm.reserveResults">
    <div class="panel-body panel-display">
        <div class="row">
            <div class="col-sm-12">
                <h4> <span class="glyphicon glyphicon-ok-sign"></span> Reserved</h4>

                <table class="display-query">
                    <tr><td class="display-label">Selected Car</td><td>{{vm.selectedCar.car}}</td></tr>
                    <tr><td class="display-label">Price</td><td>{{vm.reserveResults[0].currencyCode[0]}} {{vm.reserveResults[0].HolidayValue[0]}}</td></tr>
                    <tr><td class="display-label">Reservation</td><td>{{vm.reserveResults[0].TransacNo[0]}}</span></td></tr>
                      </table>

            </div>
        </div>
    </div>
</div>
